<div class="row">
    <div class="col-6">
        <div class="modal-body">
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label for="licenseNumber"></label>
                <input type="number" class="form-control" id="licenseNumber" name="licenseNumber"
                       [(ngModel)]="vehicle.licenseNumber"/>
            </div>
            <div class="form-group">
                <label for="age"></label>
                <input type="number" class="form-control" id="age" name="age"
                       [(ngModel)]="vehicle.age"/>
            </div>
            <div class="form-group">
                <label for="owner"></label>
                <input type="text" class="form-control" id="owner" name="owner"
                       [(ngModel)]="vehicle.owner"/>
            </div>
            <div class="form-group">
                <label for="brand"></label>
                <input type="text" class="form-control" id="brand" name="brand"
                       [(ngModel)]="vehicle.brand"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
                <span class="fa fa-ban">Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary" (click)="save()">
                <span class="fa fa-save">Save</span>
            </button>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <table class="table table-striped table-bordered w-100" *ngIf="vehicleList && vehicleList?.length > 0">
                <thead>
                <th>
                    <span> Rendszám </span>
                    <span class="fa fa-sort"></span>
                </th>
                <th>
                    <span> Kor </span>
                    <span class="fa fa-sort"></span>
                </th>
                <th>
                    <span> Márka </span>
                    <span class="fa fa-sort"></span>
                </th>
                <th>
                    <span> Tulajdonos neve </span>
                    <span class="fa fa-sort"></span>
                </th>
                </thead>
                <tbody>

                <tr *ngFor="let vehicle of vehicleList; trackBy: trackByFn">
                    <td>
                        {{vehicle.licenseNumber}}
                    </td>
                    <td>
                        {{vehicle.age}}
                    </td>
                    <td>
                        {{vehicle.brand}}
                    </td>
                    <td>
                        {{vehicle.owner}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
